.sqaure{
    width: 300px;
    height: 300px;
    border: solid 3px black;
   
}

.sqaure:nth-child(5){
    position: absolute;
    bottom: 2px;
    right: 340px;
}
.container{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

#police{
    width: 100px;
    height: 100px;
    border: solid 1px black;
    border-radius: 50%;
    bottom: 250px;
    left: 300px;
    position: absolute;
    transition: top 0.3 ease , left 0.3 ease;
}
#b1{
    position: absolute;
    bottom: 250px;
    left: 300px;
    width: 100px;
    height: 100px;
     
}

#b2{
    position: absolute;
    bottom: 550px;
    left: 300px;
    width: 100px;
    height: 100px;
    
}
#b3{
    position: absolute;
    bottom: 550px;
    left: 600px;
    width: 100px;
    height: 100px;
    
}
#b4{
    position: absolute;
    bottom: 250px;
    left: 600px;
    width: 100px;
    height: 100px;
    
}

#b5{
    position: absolute;
    bottom: 250px;
    left: 900px;
    width: 100px;
    height: 100px;
    
}

#b6{
    position: absolute;
    bottom: 550px;
    left: 900px;
    width: 100px;
    height: 100px;
}

#b7{
    position: absolute;
    bottom: 550px;
    left: 1200px;
    width: 100px;
    height: 100px;
}

#b8{
    position: absolute;
    bottom: 250px;
    left: 1200px;
    width: 100px;
    height: 100px;
}
#b9{
    position: absolute;
    bottom: 550px;
    left: 1500px;
    width: 100px;
    height: 100px;
}

#b10{
    position: absolute;
    bottom: 250px;
    left: 1500px;
    width: 100px;
    height: 100px;
}

#b11{
    position: absolute;
    bottom: -40px;
    left: 1200px;
    width: 100px;
    height: 100px;
}

#b12{
    position: absolute;
    bottom: -40px;
    left: 1500px;
    width: 100px;
    height: 100px;
}

button{
    opacity: 0;
}